.device {
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #333;
    
    &__list {
        display: flex;
        flex-flow: column nowrap;
        padding: 5px 10px 5px 10px;
        border-right: 1px solid #444;
        justify-content: center;

        &__date {
            font-weight: bold;
        }
    }

}